@font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
}